.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #696969;
}

.login__logo{
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.login__container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 4px 4px 7px 7px rgb(224, 220, 216);
    border-radius: 20px;
    background-color: white;
}

.login__container h1{
    font-weight: 500;
    margin-bottom: 20px;
}

.login__container h5{
    margin-bottom: 5px;
}

.login__container input{
    height: 20px;
    margin-bottom: 10px;
    width: 95%;
    background-color: white;
    border-radius: 15px;
    box-shadow: inset 0px 0px 6px 0px rgb(105, 99, 91);
}

.login__container p{
    margin-top: 15px;
    font-size: 12px;
    margin-bottom: 15px;
}

.login__container h4{
    margin-bottom: 15px;
}

.login__signButton{
    background-color: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734;
    cursor: pointer;
    border-radius: 15px;
}

.login__registerButton{
    background-color: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734;
    cursor: pointer;
    border-radius: 15px;
}

